{% extends 'base.html.twig' %}

{% block title %}Address{% endblock %}

{% block body %}
    <h1>Address</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ address.numero }}</td>
            </tr>
            <tr>
                <th>Rur</th>
                <td>{{ address.rur }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ address.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ address.ville }}</td>
            </tr>
            <tr>
                <th>Compliment</th>
                <td>{{ address.compliment }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ address.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_address_index') }}">back to list</a>

    <a href="{{ path('app_address_edit', {'id': address.id}) }}">edit</a>

    {{ include('address/_delete_form.html.twig') }}
{% endblock %}
